.continent-img {
    width: 80%;
    height: 200px;
    margin: 3rem auto;
} 

.continent-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.continent-container {
    width: 80%;
    margin: 0 auto;
}

.continent-container ul {
    margin-top: 1rem;
}

.continent-global-container {
    width: 100%;
    cursor: pointer;
    margin: 0.300rem;
    border: 1px solid #a239ca;
}

.continent-name {
    font-weight: 900;
}

.continent-name-arrow-container {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    padding-top: 0.500rem;
    transform: translateY(-5px);
    transition: opacity 1500ms ,transform 1500ms;
}

.dropdown-menu-active {
    display: block;
    opacity: 100%;
    transform: translateY(0);
    height: auto;
}
