* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continent-img {
    width: 80%;
    height: 200px;
    margin: 3rem auto;
}

.continent-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.continent-list {
    width: 80%;
    margin: 0 auto;
}


.continent-global-container {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    margin: 0.300rem;
    border: 1px solid #0e0b16;
    transition: border 100ms;
}

.continent-global-container-active {
    border: 2px solid #a239ca;
}

.continent-name {
    font-weight: 900;
}

.continent-name-arrow-container {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    padding-top: 0.500rem;
    transition: max-height 100ms;
}

.dropdown-menu-active {
    max-height: 900px;
}

@media (min-width: 820px) {

    .continent-list {
        width: 90%;
        margin: 0 auto;
        max-width: 650px;
    }

    .continent-list ul {
        width: 100%;
    }

    .continent-list ul li {
        width: 100%;
    }


    .continent-global-container {
        width: 80%;

    }
}