* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.quote-global-container {
    width: 70%;
    max-width: 920px;
    border: 1px solid #0e0b16;
    margin: 1rem auto;
    padding: 0.5rem;
  font-size: 0.800rem;

}

.quote-container {
    margin-bottom: 0.500rem;
}

.quote-container h4 {
    font-size: 0.8rem;
}

.quote-info p {
    font-size: 0.7rem;
}

.get-quotes-btn-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}


.get-quotes-btn {
    display: flex;
    justify-content: center;
    padding: 0.500rem;
    color: #a239ca;
    transition: border 100ms; 
    cursor: pointer;
    font-size: 0.8rem;
}

.get-quotes-btn:hover {
    font-weight: 900;
    border: 2px solid #a239ca
}

@media (min-width: 768px) {
    .quote-container h4 {
        font-size: 0.875rem;
    }
    
    .quote-info p {
        font-size: 0.9rem;
    }
} 


@media (min-width: 1000px) {
    .quote-global-container {
        font-size: 1rem;
    }

    .get-quotes-btn {
        font-size: 1rem;
    }
} 
