* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.quotes-main-container {
    transform: translateX(-150%);
    transition: transform 350ms;
    margin: 3rem auto;
}

.quotes-container-active {
    transform: translateX(0);
}


.quote-global-container {
    width: 70%;
    max-width: 920px;
    border: 1px solid #0e0b16;
    margin: 1rem auto;
    padding: 1rem;
  font-size: 0.800rem;

}

.quote-container {
    margin-bottom: 0.500rem;
}

.quote-container h4 {
    font-size: 0.8rem;
}

.quote-info p {
    font-size: 0.7rem;
}

.get-quotes-btn-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    border: 0;

}


.get-quotes-btn {
    display: flex;
    justify-content: center;
    padding: 0.500rem;
    color: #a239ca;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    border: 1px solid #a239ca;
    transition: transform 350ms;
}

.get-quotes-btn:hover {
   transform: translateY(10px);
}



@media (min-width: 768px) {
    .quote-container h4 {
        font-size: 0.875rem;
    }
    
    .quote-info p {
        font-size: 0.9rem;
    }
} 


@media (min-width: 1000px) {
    .quote-global-container {
        font-size: 1rem;
    }

    .get-quotes-btn {
        font-size: 1rem;
    }
} 
