* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    width: 200px;
    height: 370px;
    max-width: 240px;
    min-width: 210px;
    max-height: 400px;
    margin: 2rem;
    border: 1px solid grey;
    background-color: white;
    transition: 150ms transform, 150ms box-shadow;
}

.character-card:hover {
    box-shadow: 1px 1px 5px;
    transform: translateY(5px);
}

.img-container {
    width: 100%;
    height: 230px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 140px;
}

.info-container li:first-child {
    font-weight: 400;
    padding: 0.200rem 0;
}

.btn-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

.page-btn {
    padding: 0.500rem;
    border: 0;
    outline: 0;
    border-radius: 30%;
}

.character-fullname {
    font-weight: 700;
    font-size: 0.875rem;
}

.description-item {
    font-size: 0.875rem;
}

@media (min-width: 820px) {
    .character-fullname {
        margin: 0;
        font-size: 1rem;
    }

    .description-item {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {
    .cards-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .character-fullname {
        font-size: 1.2rem;
    }
}
